@media only screen and (min-width: 768px) {
    .intro-section .header-container,
    .intro-section .description-container,
    .intro-section .order-form-container,
    .about-section-container,
    .result-section,
    .intro-section .navigation-list,
    .about-section-container, h1 {
        padding: 0 50px;
    }

    .about-section-container,
    .result-section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .order-container h1,
    .about-section-container h2,
    .result-section h2 {
        font-size: 36px;
    }

    .order-container,
    .about-section-container,
    .result-section,
    .result-section .result-container {
        gap: 75px;
    }

    .intro-section {
        padding-top: 35px;
    }

    .navigation-container {
        height: 50px;
    }

    .order-container {
        align-items: center;
    }

    .order-container h1 {
        width: 520px;
    }

    .order-container .description-container {
        gap: 5%;
    }

    .order-container .advantages-list-container {
        width: 50%;
    }

    .order-container .description-container p,
    .order-container .advantages-list {
        font-size: 22px;
    }

    .order-container .description-container p {
        width: 45%;
        line-height: 34px;
    }

    .order-form-container .price-container {
        flex-direction: row;
    }

    .about-section-container {
        background-size: auto;
    }

    .about-section-container .advantage-cards-container > * {
        width: 75%;
    }

    .about-section-container .advantage-card:nth-child(odd) {
        align-self: end
    }

    .about-section-container h3 {
        font-size: 20px;
    }

    .result-section {
        padding-bottom: 175px;
    }

    .result-section .result-container {
        flex-direction: row;
        gap: 115px;
    }

    .result-section article {
        width: 60%;
        padding: 40px 10px 40px 40px;
        box-shadow: inset 20px 0 0 0 rgba(212, 223, 109, 1),
        inset 0 20px 0 0 rgba(212, 223, 109, 1),
        inset 0 -20px 0 0 rgba(212, 223, 109, 1);
    }

    .result-section article::before {
        right: -88px;
        top: 0;
        left: unset;
        height: 50.1%;
        width: 110px;
        clip-path: polygon(
                0 0,
                0 20px,
                7px 20px,
                86px 100%,
                100% 100%,
                22px 0
        );
    }

    .result-section article::after {
        right: -88px;
        top: unset;
        left: unset;
        bottom: 0;
        height: 50.1%;
        width: 110px;
        clip-path: polygon(
                0 0,
                0 20px,
                7px 20px,
                86px 100%,
                100% 100%,
                22px 0
        );
        transform: scaleY(-1);
    }

    .result-section .image-container {
        order: 2;
        width: 35%;
    }

    .result-section .result-container img {
        margin-bottom: 0;
    }


}