@media only screen and (min-width: 576px) {
    .order-container h1,
    .about-section-container h2,
    .result-section h2 {
        font-size: 28px;
    }

    .intro-section .navigation-list {
        height: 45px;
    }

    .order-container .description-container {
        display: flex;
        flex-direction: row;
        gap: 25px;
        font-size: 16px;
    }

    .order-container .description-container p {
        width: 50%;
    }

    .order-container .order-form-container form {
        flex-direction: row;
        border-radius: 10px;
    }

    .order-form-container .form-header-container {
        width: 50%;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .order-form-container .form-header {
        justify-content: space-around;
        height: 100%;
        width: 100%;
        border-radius: 10px 0 0 10px;
        clip-path: polygon(
                0 0,
                0 100%,
                90% 100%,
                100% 50%,
                90% 0);
    }

    .order-form-container .time-left {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .order-form-container .timer-container {
        margin-bottom: 25px;
    }

    .order-form-container .price-container {
        flex-direction: column;
        align-items: center;
        gap:5px;
        width: 100%;
    }

    .order-form-container .form-main-container {
        width: 50%;
        padding-top: 20px;
    }

    .about-section-container .advantage-card {
        flex-direction: row;
        gap: 5%;
        padding: 15px;
        height: 270px;
        width: 100%;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
        background-color: rgba(246, 231, 145, 1);
    }

    .about-section-container .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
    }

    .about-section-container .advantage-description {
        width: 50%;
        padding: 21px 16px;
        height: 100%;
        background-color: rgba(161, 211, 55, 0.4);
    }

    .result-section article::after {
        clip-path: polygon(
                0 88px,
                0 100%,
                20px 100%,
                20px 100px,
                100% 22px,
                100% 0
        );
    }

    .result-section article::before {
        clip-path: polygon(
                0 88px,
                0 100%,
                20px 100%,
                20px 100px,
                100% 22px,
                100% 0
        );
    }
}