body {
    display: flex;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

li {
    list-style: none;
}

.wrapper {
    position: relative;
    width: inherit;
}

.intro-section .header-container,
.intro-section .description-container,
.intro-section .order-form-container,
.about-section-container,
.result-section,
.intro-section .navigation-list,
.about-section-container, h1 {
    padding: 0 25px;
}

.order-container,
.about-section-container,
.result-section,
.result-section .result-container {
    gap: 50px;
}

.intro-section {
    display: flex;
    flex-direction: column;
    padding: 15px 0 75px;
    width: inherit;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ), url("../images/background/order_bg.webp");
    background-position: right;
    background-size: cover;
}

.intro-section,
.order-container .order-content-container,
.about-section-container .advantage-cards-container {
    gap: 75px;
}


.intro-section .header-logo {
    width: 60%;
    max-width: 329px;
}

.intro-section .navigation-container {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dae2d9;
    box-shadow: 0 -5px 5px 0 rgb(43, 132, 162, 0.4);
}

.intro-section .navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    height: 50px;
    width: inherit;
    font-size: 16px;
    font-weight: 700;
}

.intro-section .navigation-item {
    height: 100%;
    cursor: pointer;
}

.intro-section .navigation-item a {
    display: flex;
    align-items: center;
    height: inherit;
    color: rgba(113, 93, 0, 1);
}

.intro-section .navigation-item a:hover {
    color: rgba(72, 60, 8, 1);
}

.order-container {
    display: flex;
    flex-direction: column;
}

.order-container h1,
.about-section-container h2,
.result-section h2 {
    font-size: 22px;
    text-align: center;
}

.order-container h1 {
    color: rgba(249, 233, 148, 1);
}

.order-container .order-content-container {
    display: flex;
    flex-direction: column;
}

.order-container .description-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 16px;
}

.order-container .description-container p {
    line-height: 24px;
    color: rgba(246, 247, 228, 1);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.order-container .advantages-list-container {
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(127, 179, 225, 1);
}

.order-container .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: rgba(223, 228, 222, 1);
}

.order-container .advantages-item {
    display: flex;
    gap: 15px;
    align-items: center;
    line-height: 26px;
}

.order-container .advantages-item::before {
    content: url("../images/order-section/paw_list_indicator.webp");
    margin-top: 4px;
}

.order-container .img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.order-container .order-form-container form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(253, 252, 252, 1);
}

.order-container .order-form-container form,
.order-form-container .form-header {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.order-form-container form > * {
    padding: 0 24px;

}

.order-form-container .form-header-container {
    width: 100%;
    padding: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.order-form-container .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 190px;
    padding-top: 23px;
    padding-bottom: 13px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(126, 178, 225, 1);
    clip-path: polygon(
            0 0,
            0 170px,
            50% 100%,
            100% 170px,
            100% 0);
}

.order-form-container .time-left,
.order-form-container .price-container .actual-price {
    color: rgba(72, 60, 8, 1);
}

.order-form-container .time-left {
    font-size: 33px;
    margin-bottom: 8px;
}

.order-form-container .timer-container {
    margin-bottom: 3px;
    font-size: 36px;
    color: rgba(246, 231, 145, 1);
}

.order-form-container .price-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.order-form-container .last-price {
    width: 105px;
    font-size: 30px;
    color: rgba(107, 107, 107, 1);
}

.order-form-container .last-price::before {
    content: url("../images/order-section/cross_line.webp");
    position: absolute;
}

.order-form-container .actual-price {
    font-size: 36px;
}

.order-form-container .form-main-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 41px;
    padding-bottom: 20px;
}

.order-form-container .form-main-container > * {
    display: flex;
    align-items: center;
    height: 50px;
    border: none;
    border-radius: 30px;
}

.order-form-container .form-main-container input[type="text"],
.order-form-container .form-main-container input[type="tel"] {
    padding-left: 55px;
    padding-top: 16px;
    padding-bottom: 15px;
    background-color: rgba(243, 239, 239, 1);
    background-image: url("../images/order-section/paw_input.webp");
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

.order-form-container .form-main-container input[type="text"],
.order-form-container .form-main-container input[type="tel"],
.order-form-container .form-main-container input[type="text"]:focus,
.order-form-container .form-main-container input[type="tel"]:focus {
    font-size: 16px;
    font-weight: bold;
    color: rgba(72, 60, 8, 1);
}

.order-form-container .form-main-container input[type="text"]:focus,
.order-form-container .form-main-container input[type="tel"]:focus {
    outline: none;
    border: 2px solid rgba(126, 178, 225, 1);
}

.order-form-container .form-main-container input::placeholder {
    font-size: 16px;
    font-weight: bold;
}

.order-form-container .form-main-container input::placeholder::before {
    content: url("../images/order-section/paw_list_indicator.webp");
}

.order-form-container .form-main-container button {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(161, 211, 55, 1);
    cursor: pointer;
}

.order-form-container .form-main-container button:hover{
background-color: #93c22f;
}

.order-form-container .order-date-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 21px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(68, 68, 68, 1);
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.order-form-container .order-date-container span:nth-child(1) {
    margin-right: 5px;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/background/about_bg.webp");
    background-size: contain;
}

.about-section-container .about-section {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.about-section-container,
.result-section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.about-section-container h2 {
    background: -webkit-linear-gradient(
            rgba(249, 233, 148, 1),
            rgba(83, 125, 19, 1),
            rgba(72, 60, 8, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-section-container .advantage-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-section-container .advantage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 15px;
    height: 439px;
    width: 100%;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    background-color: rgba(246, 231, 145, 1);
}

.about-section-container .advantage-card,
.about-section-container .advantage-description {
    border-radius: 20px;
}

.about-section-container .advantage-card:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.about-section-container .cat-image {
    width: 212px;
}

.about-section-container .peace-image {
    width: 164px;
    margin: 25px 0 20px;
}

.about-section-container .treat-image {
    width: 186px;
    margin: 14px 0 13px;
}

.about-section-container img {
    height: auto;
}

.about-section-container .advantage-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    padding: 21px 16px;
    height: 50%;
    background-color: rgba(161, 211, 55, 0.4);
}

.about-section-container h3 {
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.about-section-container .advantage-card:nth-child(1) h3 {
    margin-left: 2px;
}

.about-section-container .advantage-description p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgba(72, 60, 8, 1);
}

.result-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 250px;
    background-image: url("../images/background/result_bg.webp");
    background-position: top;
    background-size: cover;
}

.result-section h2 {
    color: rgba(83, 125, 19, 1);
}

.result-section .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.result-section article {
    position: relative;
    padding: 20px 40px 40px;
    box-shadow: inset 20px 0 0 0 rgba(212, 223, 109, 1),
    inset -20px 0 0 0 rgba(212, 223, 109, 1),
    inset 0 -20px 0 0 rgba(212, 223, 109, 1);
    border-radius: 10px;
    line-height: 23px;
}

.result-section article::before {
    content: '';
    position: absolute;
    top: -88px;
    left: 0;
    width: 50.1%;
    height: 110px;
    background-color: rgba(212, 223, 109, 1);
    clip-path: polygon(
            0 88px,
            0 100%,
            20px 100%,
            20px 97px,
            100% 22px,
            100% 0
    );
}

.result-section article::after {
    content: '';
    position: absolute;
    top: -88px;
    right: 0;
    width: 50.1%;
    height: 110px;
    background-color: rgba(212, 223, 109, 1);
    clip-path: polygon(
            0 88px,
            0 100%,
            20px 100%,
            20px 97px,
            100% 22px,
            100% 0
    );
    transform: scaleX(-1);
}

.result-section article p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(72, 60, 8, 1);
}

.result-section .result-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
